html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.3em;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    /*min-height: 680px;*/
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    margin: 8px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck.card.opened {
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.wrong {
    background-color: #ce0000;
    animation: shake 0.3s;
    animation-iteration-count: 0.4s;
}

/*For wrong animation*/
@keyframes shake {
    0% { transform: translate(2px, 3px) rotate(0deg); }
    50% { transform: translate(-6px, 6px) rotate(0deg); }
    100% { transform: translate(2px, -4px) rotate(-1deg); }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 450px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    padding-left: 70px;
}

/*
 * Styles for the Pop-up
 */

/*Modal styling from https://www.w3schools.com/howto/howto_css_modals.asp*/
.pop-up {
    position: fixed;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-content {
    text-align: left;
    width: 550px;
    margin: 15% auto;
    top: 150px;
    background-image: url('../img/pop-up-background.jpg'); /*Background from unsplash.com*/
    border: 1px solid #888;
}

.pop-up h2 {
    padding: 20px 0 0 50px;
}

.pop-up-table {
    margin: 5% auto;
    width: 90%;
    padding: 20px;
}

.pop-up-close {
    float: right;
    font-size: 28px;
    padding-right: 20px;
}

.pop-up-close:hover {
    cursor: pointer;
    text-decoration: none;
}

.pop-up-table .for-smaller-screens {
    display: none;
}

/*
 * Responsive Design
 */

@media screen and (max-width: 700px) {
    .deck {
        width: 550px;
    }

    .deck .card {
        width: 105px;
        height: 105px;
    }

    h1 {
        font-size: 2em;
    }

    .score-panel {
        width: 400px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px) {
    .pop-up-content {
        font-size: 1em;
        width: 90%;
    }

    .pop-up-content h2 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 560px) {
    .deck {
        width: 90%;
        padding: 10px;
    }

    .deck .card {
        width: 85px;
        height: 85px;
    }

    h1 {
        font-size: 1.7em;
    }

    .score-panel {
        width: 250px;
        font-size: 1em;
    }

    .score-panel .restart {
        float: right;
        cursor: pointer;
        font-size: 1.3em;
        padding: 0 5px;
    }

    .score-panel .timer {
        padding-left: 30px;
    }

    .deck .card.show,
    .deck .card.match {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .deck .card {
        width: 80px;
        height: 80px;
    }

    .pop-up-table td {
        padding: 0 10px;
    }

    .pop-up-content h2 {
        font-size: 1.2em;
        padding-left: 38px;
    }

    .pop-up-content {
        font-size: 1.1em;
    }

    .pop-up-table .for-bigger-screens {
        display: none;
    }

    .pop-up-table .for-smaller-screens {
        display: block;
    }

    .pop-up-time,
    .pop-up-moves,
    .pop-up-stars {
        text-align: right;
    }
}

@media screen and (max-width: 450px) {
    .deck .card {
        width: 60px;
        height: 60px;
    }

    .pop-up-content {
        font-size: 1em;
    }
}